*.iml
.gradle
*.swp
*.log
/local.properties

__pycache__/
app/libs/meta/deploy/
app/libs/meta/template/
app/libs/meta/template_static/
META-Backend/
META-Framework/

my-arm-toolchain/

dokumentation/*.aux
dokumentation/*.log
dokumentation/*.out
dokumentation/*.toc
dokumentation/*.synctex.gz
dokumentation/*.lot
dokumentation/*.lof

nohup.out
*.ll
*.o
*.s
*.bc

.idea/
shared_libs/
cmake-build-debug/
build/

/.idea/libraries
/.idea/caches
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild


